$background-color: #6f2c39;
$background-img: url('./background-img.jpg');
$color: white;

.App {
  background-image: $background-img;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  font-size: 1rem;
  color: $color;
}
